.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}


.react-calendar__navigation__next2-button{
  display: none !important;
}
.react-calendar__navigation__prev2-button{
  display: none !important;
}
.react-calendar{
  border: none !important;
}
.CalendarContainer {
  border: 1px solid #ddd; 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.react-calendar__tile--active{
  background-color: red !important;
  border-radius: 5px;
}
.react-calendar__navigation{
  border: 1px solid #cacaca;
  border-radius: 10px;

}
.react-calendar__navigation:hover{
 background-color: transparent !important;
}
.react-calendar__navigation button:enabled:hover{
  background-color: transparent !important;
}
.react-calendar__navigation__prev-button{
  border-right: 1px solid #cacaca !important;
}
.react-calendar__navigation__next-button{
  border-left: 1px solid #cacaca !important;
}

/* new */

.highlighted-date {
  background: #e0e0e0; 
  color: #333; 
  border-radius: 50%; 
}

.react-calendar__navigation__arrow {
  cursor: pointer;
  font-size: 20px;
}
.react-calendar__tile--active {
  background-color: red !important;
  border-radius: 5px;
}

